body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000;
}
body * {
  font-family: 'Roboto Condensed', sans-serif;
}


.header {
  height:60px;

}
  .header .logo {
    margin-left: 20px;
  }
  .header a {

  }

  .header .logo img {
    margin-top:5px;
  }
  .header .logo a {
    font-size:32px;
    color:#fff;
    text-decoration: none;
  }


.content .container {
  background-color: #fff;
  padding-top:15px;
  padding-bottom:15px;
}


.webMenu {
  top:10px;
  right:40px;
  position: absolute;
}
  .webMenu .dropdown-menu {
    margin-left: -160px;
  }
    .webMenu .dropdown-menu a {
      cursor:pointer;
    }

/* PORTADA */
.content #logo {
  color:#fff;
  margin-top:60px;
}

.content .accountForm {
  margin-top: 30px;
}
.content .accountInput, .content .accountSuccess {
  height:50px;
  font-size:20px;
}

/* EDITOR LISTA */
.listaEditor .listContainer button{
  float:right;
  margin-left: 10px;
}
.listaEditor .listContainer li {
  height: 60px;
}
.listaEditor .listContainer li .title {
  font-size: 25px;
  float:left;
  height: 40px;
}


/* POPUP */

#popup .waiting {
  margin-top:50px;
  margin-bottom: 50px;
}
#popup .error {
  margin-left: 50px;
  color:red;
}
/* MAP */

#mapContainer {
  width:100%;
  height: 1000px;
}

#bgCanvas {
  background-color: #000;
  position:fixed;
  top:0;
  left:0;
  z-index:-1000;

}
