body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000;
  background-image: url("../img/collage/portada.jpg");
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}
body * {
  font-family: 'Roboto Condensed', sans-serif;
}

.remember a {color:#fff;}
.header {
  height:60px;

}
  .header .logo {
    margin-left: 20px;
  }
  .header a {

  }

  .header .logo img {
    margin-top:5px;
  }
  .header .logo a {
    font-size:32px;
    color:#fff;
    text-decoration: none;
  }


.content .container {
  background-color: #fff;
  padding-top:15px;
  padding-bottom:15px;
}


.webMenu {
  top:10px;
  right:40px;
  position: absolute;
}
  .webMenu .dropdown-menu {
    z-index:1001;
    margin-left: -160px;
  }
    .webMenu .dropdown-menu a {
      cursor:pointer;
    }

/* PORTADA */
.content #logo {
  color:#fff;
  margin-top:60px;
}

@media (max-width: 600px) {
  .content #logo {
    margin-top:0px;
  }
}

.content .poweredby {
  color:#fff;
  position:absolute;
  right:10px;
  bottom
}


.content .newOne a {
  cursor:pointer;
  color:#fff;
  margin-top:5px;
  font-size: 14px;
}
.content .accountForm {
  margin-top: 30px;
}
.content .accountInput, .content .accountSuccess {
  height:50px;
  font-size:20px;
}

/* EDITOR LISTA */
.listaEditor .loading {
  margin-top:10px;
  width:100%;
  text-align: center;
  font-size: 40px;
}
.listaEditor .listContainer {
  margin-top:15px;
}
.listaEditor .listContainer button{
  float:right;
  margin-left: 10px;
}
.listaEditor .listContainer li {
  height: 60px;
}
.listaEditor .listContainer li .title {
  font-size: 25px;

  height: 40px;
}


/* POPUP */

#popup .waiting {
  margin-top:50px;
  margin-bottom: 50px;
}
#popup .error {
  margin-left: 50px;
  color:red;
}


/* MAP */

.functionButtons {
  z-index:1000;top:75px;right:10px;position:absolute;
}

.functionButtons .btn{
  margin-left:10px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: inline-block;
  background-color:black;
}

.functionButtons .link span{
  margin-left:px;
  margin-top:3px;font-size:27px;color:white;
}

.functionButtons .embed span{
  margin-left:-3px;
  font-size:24px;color:white;font-weight:bold;
}

.donateFoot {
  color:#fff;
}
  .donateFoot .support {
    font-size: 11px;
  }

#mapContainer {
  width:100%;
  height: 1000px;
}

#bgCanvas {
  background-color: #000;
  position:fixed;
  top:0;
  left:0;
  z-index:-1000;
}
