<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chain Maps</title>
  </head>

  <script id="headerTemplate" type="text/template">
    <div class="">
      <div class="logo"><a href=""><img src="img/logo_small.png"> Chain Maps</a></div>
      <div class="webMenu">
        <ul class="dropdown-menu">
          <li><a href="#account/<%-accountIdName%>"><i class="fa fa-map"></i> Map</a></li>
          <%if( accountIdName != false ) { %>
            <li><a href="#account/<%-accountIdName%>/adminPlaces"><i class="fa fa-map-marker"></i> Edit map places</a></li>
            <li><a href="#account/<%-accountIdName%>/adminAccount"><i class="fa fa-compass"></i> Edit map info</a></li>
          <%}%>
          <li><a class="displayAccountConfPopup" ><i class="fa fa-credit-card"></i> Account conf (ETH)</a></li>
          <li><a  class="displayAboutPopup"><i class="fa fa-info-circle"></i> About</a></li>
        </ul>
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-bars fa-2x"></i>
        </button>
      </div>

    </div>
  </script>

  <script id="popupTransactionTemplate" type="text/template">
    <div class="modal-header" style="padding:35px 50px;">
      <h4><span class="glyphicon glyphicon-transfer"></span> Tansaction details</h4>
    </div>
    <div class="modal-body working" style="padding:40px 50px;">
      <form role="form">
        <div class="form-group">Eth account: <%= contract.currentEthAccount %></div>
        <div class="form-group">
          <label for="gaslimit"><span class="glyphicon glyphicon-signal"></span> Gas limit (<a target="_blank" href="https://kb.myetherwallet.com/gas/what-is-gas-ethereum.html">?</a>)</label>
          <input type="text" class="form-control" id="gaslimit" value="<%- conf.defaultGasLimit %>">
        </div>

        <div class="form-group">
          <label for="donate"><span class="glyphicon glyphicon-tint"></span> This project need your help. Do you want to donate? </label>
          <select class="form-control" id="donate">
            <option value="0">Not today</option>
            <option value="500000000000000">0.0005ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.0005*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="1000000000000000" selected>0.001ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.001*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="2000000000000000">0.002ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.002*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="3000000000000000">0.003ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.003*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="10000000000000000">0.01ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.01*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="20000000000000000">0.02ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.02*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="40000000000000000">0.04ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.04*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="80000000000000000">0.08ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.08*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="100000000000000000">0.1ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.1*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="150000000000000000">0.15ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.15*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="300000000000000000">0.3ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.3*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="500000000000000000">0.5ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(0.5*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="1000000000000000000">1ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(1*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="2000000000000000000">2ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(2*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="3000000000000000000">3ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(3*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="4000000000000000000">4ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(4*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
            <option value="5000000000000000000">5ETH  <%if(app.ethDollarPrice){%>(<%- parseFloat(5*app.ethDollarPrice).toFixed(2) %>$)<%}%></option>
          </select>
        </div>

      </form>
    </div>

    <div class="col-xs-2 center-block waiting" style="float:none; display:none;">
      <div><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
      <div>Mining...</div>
    </div>
    <div class="error" style="float:none; display:none;">

    </div>

    <div class="modal-footer working">
      <button class="btn btn-danger btn-default " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      <button class="btn btn-success pull-right confirmTransaction"><span class="glyphicon glyphicon-ok"></span> Confirm transaction</button>
    </div>
  </script>

  <script id="popupInfoTemplate" type="text/template">
    <div class="modal-header" style="padding:35px 50px;">
      <h4><%=title%></h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <%=content%>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-default pull-right" data-dismiss="modal"> Close </button>
    </div>
  </script>

  <script id="popupEthAccountConfTemplate" type="text/template">
    <div class="modal-header" style="padding:35px 50px;">
      <h4><span class="glyphicon glyphicon-lock"></span> Ethereum account configuration</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
        <div class="form-group">
          <label for="psw"><span class="glyphicon glyphicon-credit-card"></span> Wallet type</label>
          <select  class="form-control" >
            <option>Private key address</option>
            <option disabled>Ledger Nano S</option>
            <option disabled>Trezor</option>
          </select>
        </div>
        <div class="form-group">
          <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Private key</label>
          <input type="text" class="form-control" id="privateKeyAddress" placeholder="Your ETH private key here" value="<%=privateAddress%>">
        </div>
        <div class="form-group">
          <div class="alert alert-warning">
      	     This private key will be used to sign your transactions and saved <strong>only in your browser local storage</strong>.<br>
             Never share private key with anybody and try to use a low balance account.
      	  </div>
        </div>
        <div class="form-group">
          <div class="accountInfo"></div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      <button id="saveAccountConf"  disabled class="btn btn-success pull-right"><span class="glyphicon glyphicon-off"></span> Save </button>
    </div>
  </script>


  <script id="popupConfirmTemplate" type="text/template">

    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
        <!--div class="form-group">
          <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
          <input type="text" class="form-control" id="usrname" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
          <input type="text" class="form-control" id="psw" placeholder="Enter password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" checked>Remember me</label>
        </div>
          <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button-->
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-off"></span> Continue </button>
      <button class="btn btn-danger btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    </div>
  </script>



  <script id="accountChooserTemplate" type="text/template">
    <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div id="logo" class="text-center">
        <div><img src="img/logo_medium.png"> </div>
        <h1>Chain Maps</h1><p>Avoid censorship using the Ethereum blockchain</p>
        </div>
        <form role="form" class="accountForm" onSubmit="return false;">
          <div class="form-group col-xs-12">
            <div class="input-group">
              <input id="1" class="form-control accountInput" type="text" name="account" placeholder="Your map name (ex: demomap)" required/>
              <span class="input-group-btn">
              <button class="btn btn-success accountSuccess" type="submit">
              <i class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
              </button>
              </span>
            </div>
            <div class="createNewOne" class="form-group col-xs-12">Create a new one</div>
          </div>
        </form>

      </div>
    </div>
    <div class="poweredby">
      <img src="img/etherlogo.png" width=200/>
    </div>
  </script>

  <script id="mapTemplate" type="text/template">
    <div class="functionButtons" style="">
        <div class="link btn"><span class="glyphicon glyphicon-share"></span></div>
      <div class="embed btn" ><span>&lt;/&gt;</span></div>
    </div>
    <div id="mapContainer">
    </div>
  </script>

  <script id="accountFormTemplate"  type="text/template">
    <div class="container">

      <div class="panel panel-info">
      <% if( newAccount == true  ) { %>
        <div class="panel-heading">Create new account </div>
        <div class="panel-body"><%= newDialogText %></div>
      <%}else {%>
        <div class="panel-heading">Account editor </div>
        <div class="panel-body">You are editing metadata of map "<%-accountIdName%>"</div>
      <%}%>
      </div>

      <form id="signupForm" method="post" class="form-horizontal"  onSubmit="return false;">
        <div class="row col-sm-6">
          <div class="form-group"  <% if( accountIdName != false  ) { %> style="display:none;" <%}%>>
            <div class="col-sm-12">
              <label for="accountDesc">Account name</label>
              <input type="text" class="form-control" id="accountIdName" name="accountIdName" placeholder="Account name (without spaces)" value="<%- accountIdName %>"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="accountDesc">Description</label>
              <textarea class="form-control" id="accountDesc" name="accountDesc"  style="height:160px;" placeholder="Map description, contact info, etc..." ><%- desc %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12 col-sm-offset-1">
              <div class="checkbox">
                <input type="checkbox" id="clusterize" name="clusterize" value="clusterize"  <% if( clusterize == true ){%> checked <%}%> />Clusterize markers
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary pull-right"  name="signup" value="Sign up"><% if( newAccount == true  ) {%>Create account<%}else{%>Save account<%}%></button>
            </div>
          </div>

        </div>


        <div class="row col-sm-5 col-sm-offset-1">
          <div id="divMap" style="height:400px;"></div>
          <div class="form-group">

            <div class="col-sm-4">
              <label for="accountLat">Lat: </label>
              <input type="text" class="form-control" id="accountLat" name="accountLat" placeholder="Latitude"  value="<%-lat%>" />
            </div>
            <div class="col-sm-4">
              <label for="accountLng">Lng: </label>
              <input type="text"  class="form-control" id="accountLng" name="accountLng" placeholder="Longitude"  value="<%-lng%>" />
            </div>
            <div class="col-sm-4">
              <label for="accountZoom">Zoom: </label>
              <input type="text"  class="form-control" id="accountZoom" name="accountZoom" placeholder="Zoom" value="<%-zoom%>"/>
            </div>

          </div>
        </div>





      </form>
    </div>
  </script>


  <script id="placeFormTemplate"  type="text/template">
    <div class="container">
      <div class="panel panel-info">
      <% if( ttIndex == 0  ) { %>
        <div class="panel-heading">Place creation</div>
        <div class="panel-body">Set data of your place</div>
      <%}else {%>
        <div class="panel-heading">place editor </div>
        <div class="panel-body">You are editing place metadata</div>
      <%}%>
      </div>

      <form id="placeForm" method="post" class="form-horizontal"  onSubmit="return false;">

        <div class="row col-sm-6">
          <div class="form-group">
            <div class="col-sm-12" style="display:none;">
              <input type="text" class="form-control" id="ttIndex" name="ttIndex" placeholder="" value="<%- ttIndex %>"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="placeTitle">Title</label>
              <input type="text" class="form-control" id="placeTitle" name="placeTitle" placeholder="Place title" value="<%- title %>"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="placeDesc">Description</label>
              <textarea class="form-control" id="placeDesc" name="placeDesc" placeholder="Place Description" style="height:160px;" ><%- desc %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="placeImageLink">Image</label>
              <input type="text" class="form-control" id="placeImageLink" name="placeImageLink" placeholder="Place Image Link" value="<%- imageLink %>"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="placeCategory">Marker Icon </label><br>
              <select class="placeCategory" id="placeCategory" name="placeCategory"  >
                <% $.each(Category, function(i,e) { %>
                  <option <% if(category == i) {%>SELECTED<%}%> value="<%=i%>" data-content="<i class='glyphicon glyphicon-<%=e%>'></i> <%-e%>" ></option>
                <% }) %>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary pull-right" name="signup" value="Sign up"><% if( ttIndex == 0  ) {%>Create place<%}else{%>Save place<%}%></button>
            </div>
          </div>

        </div>

        <div class="row col-sm-5 col-sm-offset-1">
          <div id="divMap"  style="height:400px;"></div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="placeLat">Lat: </label>
              <input type="text" class="form-control" id="placeLat" name="placeLat" placeholder="Latitude"  value="<%-lat%>" />
            </div>
            <div class="col-sm-4">
              <label for="placeLng">Lng: </label>
              <input type="text"  class="form-control" id="placeLng" name="placeLng" placeholder="Longitude"  value="<%-lng%>" />
            </div>
            <div class="col-sm-4">
              <label for="placeZoom">Zoom: </label>
              <input type="text"  class="form-control" id="placeZoom" name="placeZoom" placeholder="Zoom" value="<%-zoom%>"/>
            </div>
          </div>
        </div>

      </form>
    </div>
  </script>

  <script id="placesListTemplate"  type="text/template">
    <div class="container listaEditor">
      <div><button class="addPlace btn btn-primary">Add place</button></div>

      <div  class="col-sm-12">
        <div class="loading">Loading...</div>
        <ul class="list-group listContainer">
        </ul>
      </div>
      <div><button class="addPlace btn btn-primary">Add place</button></div>
    </div>
  </script>

  <script id="placesListElementTemplate"  type="text/template">
    <li class="list-group-item" dataId="<%-id%>">
      <div class="title col-sm-10"><%-title%></div>
      <div class="col-sm-2">
        <button class="delete"><i class="fa fa-trash fa-2x"></i></button>
        <button class="edit"><i class="fa fa-edit fa-2x"></i></button>
      </div>
    </li>
  </script>

  <body>
    <div class="header"></div>
    <div class="content"></div>
    <canvas id="bgCanvas"></canvas>


      <div class="modal fade" id="popup" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">

        </div>
      </div>
    </div>

  </body>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <link href='vendor/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href='vendor/font-awesome/css/font-awesome.min.css'>
  <link rel="stylesheet" href='vendor/bootstrap-select/dist/css/bootstrap-select.min.css'>


  <link href='vendor/leaflet/dist/leaflet.css' rel='stylesheet' type='text/css'>
  <link href='vendor/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' type='text/css'>
  <link href='css/styles.css' rel='stylesheet' type='text/css'>

  <!--script src="vendor/web3/dist/web3.min.js"></script-->
  <script src="vendorStatic/web3.min.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/underscore/underscore-min.js"></script>
  <script src="vendor/backbone/backbone-min.js"></script>
  <script src="vendor/leaflet/dist/leaflet.js"></script>
  <script src="vendor/leaflet.icon.glyph/Leaflet.Icon.Glyph.js"></script>
  <script src="vendor/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>



  <script src="vendorStatic/ethereumjs-tx-1.3.3.min.js"></script>
  <script src="vendorStatic/ethereumjs-wallet-0.6.0.min.js"></script>

  <script src="js/view/canvasAnimation.js"></script>

  <script src="conf.js"></script>
  <script src="js/contract.js"></script>
  <script src="js/ethAccount.js"></script>

  <script src="js/model/AccountModel.js"></script>
  <script src="js/model/PlaceModel.js"></script>

  <script src="js/collection/PlaceCollection.js"></script>

  <script src="js/view/FormUtils.js"></script>
  <script src="js/view/Category.js"></script>

  <script src="js/view/HeaderView.js"></script>
  <script src="js/view/AccountChooserView.js"></script>
  <script src="js/view/AccountFormView.js"></script>
  <script src="js/view/PlaceFormView.js"></script>
  <script src="js/view/PlacesListView.js"></script>
  <script src="js/view/MapView.js"></script>
  <script src="js/view/PopupView.js"></script>

  <script src="js/router/appRouter.js"></script>


  <script src="js/app.js"></script>
  <!--script src="js/test.js"></script-->
  <script>

  </script>
</html>
